/* MusicPlayer.css */

.music-player {
  position: fixed; /* Coloca o reprodutor em uma posição fixa na tela */
  bottom: 0; /* Alinha ao fundo da tela */
  left: 0; /* Alinha à esquerda da tela */
  width: 100%; /* Largura total para cobrir a tela */
  background: rgba(0, 0, 0, 0.5); /* Fundo transparente para visualização */
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.music-player audio {
  width: 100%; /* Ajusta a largura do reprodutor para o tamanho do contêiner */
}
